<% /* This is an EJS comment, invisible in the rendered HTML */ %>
<% /* In the footer we dynamically fetch the year for updating it every year automatically */ %>
<footer>
    Copyright © <%= new Date().getFullYear() %> The Agarwal Group.
</footer>

</body>
</html>
